body {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight:200;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
#frmLogin {
    width: 35em;
    margin: 1em auto;
    padding:0 0 2em 5em ;
    border:1px solid #bbb;
    color: #000333;
    background:#ffd;
    font: 0.9em verdana, sans-serif;
}
#sesion-iniciada {
    float: right;
    width: 350px;
    text-align: right;
    background-color: #e2e2e2;
    border: 1px solid black;
    padding: 15px;
}
#sesion-iniciada table {
    font: 0.9em verdana, sans-serif;
    border-collapse: separate;
    border-spacing: 0.2em;
}
#tabla-opciones-general {
    margin: 0 auto;
    /* text-align: left; */
}
#tabla-nuevo-usuario {
    width: 500px;
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 0.5em;
}
#tabla-edicion-usuario {
    border: 0px solid black;
    border-collapse: separate;
    border-spacing: 0.2em;
}
#configurar-usuario {
    position: fixed;
    border: 1px solid black;
}
#tabla-informe {
    margin:0 auto;
    width: 500px;
}
#tabla-ingreso {
    font: 1.1em verdana, sans-serif;
}
#contenido-txt { border-style: dotted; border-width: 1px; }

/* formato link nuevo usuario */
a.nuevo-usuario {
    text-decoration: none;
    cursor: hand;
}
a.nuevo-usuario:link {
    text-decoration: none;
    color: #006699;
}
a.nuevo-usuario:visited {
    text-decoration: none;
    color: #006699;
}
a.nuevo-usuario:active {
    text-decoration: none;
    color:#bbb;
}
a.nuevo-usuario:hover {
    text-decoration: none;
    background-color: #ffffff;
}
/* formato link en las tablas */
a.link-tabla:link {
    text-decoration: none;
}
a.link-tabla:visited {
    text-decoration: none;
}
a.link-tabla:active {
    text-decoration: none;
}
a.link-tabla {
    text-decoration: none;
}
/* links en sesion iniciada */
/* formato link en las tablas */
a.sesion-iniciada:link {
    text-decoration: none;
}
a.sesion-iniciada:visited {
    text-decoration: none;
}
a.sesion-iniciada:active {
    text-decoration: none;
}
a.sesion-iniciada {
    text-decoration: none;
}
/* label de configuracion de estacion activa/desactiva */
label[for=label-disabled] {
    color: #dadada;
    font-weight: normal !important;
}
label[for=label-enabled] {
    color: #000000;
    font-weight: normal !important;
}
/* pie de pagina */
.pie {
    width: 100%;
    height: 50px;
    border:1px solid gray;
    background-color: #dadada;
    /* color: #000000; */
    color: #0086b3;
    font-size: small;
    font-weight: normal;
    text-align: center;
}
.footer-images{
    margin: auto;
    display: block;
    position: absolute;
    bottom: 0;
}
.footer-images .copyright{
    text-align: center;
}

#nuevoUsuario .modal-dialog
{
  width: 90%;
}